<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <div *ngIf="column == 'actions'">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" aria-label="Edit" (click)="row.isEdit = !row.isEdit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Disable">
            <mat-icon>disabled_by_default</mat-icon>
          </button>
        </td>
      </div>
      <div *ngIf="column != 'actions'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column | titlecase }}</th>
        <td mat-cell *matCellDef="let row">
          <div></div>
          <div *ngIf="row.isEdit">
            <mat-form-field>
              <input matInput type="{{columnsDataType[column]}}" value="{{(row[column]) ? row[column] : row.profile[column] }}">
            </mat-form-field>
          </div>
          <div *ngIf="!row.isEdit">
            {{(row[column]) ? row[column] : row.profile[column]}}
          </div>
        </td>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 25]">
  </mat-paginator>
</div>
