<div class="mat-form-container">
  <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header class="mat-form-header">
        <mat-card-title>Sign In</mat-card-title>
        <div class="alert danger" *ngIf="showErrorMessage">{{ errorMessage }}</div>
      </mat-card-header>
      <mat-card-content> 
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="validate('email').invalid && (validate('email').dirty || validate('email').touched)">
                <div *ngIf="validate('email').hasError('required')">
                  Email is <strong>required</strong>
                </div>
                <div *ngIf="validate('email').hasError('email')">
                  Email pattern <strong>incorrect</strong>
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
              <button mat-icon-button matSuffix (click)="onTogglePasswordHide($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              <mat-error *ngIf="validate('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row remember-password">
          <mat-checkbox formControlName="remember" >Remember my password</mat-checkbox>
          <a href="#">Forgot password</a>
        </div>
      </mat-card-content>
      <mat-card-actions class="mat-form-actions">
        <button mat-raised-button color="primary" type="submit">Sign In</button>
        <button mat-raised-button color="secondary" type="button" (click)='redirectToSignUp()'>Sign Up</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
