<h1 mat-dialog-title>Profile </h1>
<mat-dialog-content>
  <user-profile #userProfile="userProfile" [userId]="data.profile.id"></user-profile>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="close()" >Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" [disabled]="userProfile.invalid" (click)="submitProfile()">Save</button>
</mat-dialog-actions>
<app-loader *ngIf="userProfile.isLoading || isLoading "></app-loader>
